
/*universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

 
  
body {
    background-color: rgb(0, 0, 0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    padding: 20px 10%;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}   
.logo {
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
}

/*navigation bar*/
.navbar a{
    font-size: 18px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}  
/*special effect when hovering over the navigation bar*/
.navbar a:hover {
    color: aqua;
} 

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: azure;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: azure;
}

.image img{
    max-width: 100%;
}  

/*footer color*/
 footer {
    color: azure;
}

/*keyframe animations*/
@keyframes slideRight{
 from {
    opacity: 0;
    transform: translateX(100%);
 }
 to {
    opacity: 1;
    transform: translateX(0);
  }

} 
.image {
    animation: slideLeft 1s ease forwards; 
    opacity: 0;
} 


@keyframes slideLeft{
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
} 

.home-content h1{
 animation: slideRight 1s ease forwards;
 opacity: 0;
} 
.home-content h3{
    animation: slideRight 1s ease forwards;
    opacity: 0;
   }   

.navbar {
    animation: slideRight 1s ease-out;
   }

.logo {
    animation: slideLeft 1s ease forwards; 
}