/*universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}
 

  
body {
    background-color: rgb(0, 0, 0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    padding: 20px 10%;
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}   
.logo {
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
}

/*navigation bar*/
.navbar a{
    font-size: 18px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}  
/*special effect when hovering over the navigation bar*/
.navbar a:hover {
    color: aqua;
} 

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: azure;
    animation: fadeIn 4s ease forwards;
    opacity: 0;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: azure;
    animation: fadeIn 6s ease forwards;
    opacity: 0;
}

/* CSS for Projects section */

h2{
    text-align: center;
    color: azure;
    margin-top: 100;
    animation: fadeIn 4s ease forwards;
    
}
.Projects .Projects-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 2rem;
}

.Projects-container .project-box-sql {
    flex: 1 1 30rem;
    background: rgb(15, 15, 15);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: top 6rem solid azure;
    border-bottom: .6rem solid rgb(106, 105, 107);
    border-top: .6rem solid rgb(106, 105, 107);
    color: azure;
    display: block;
    animation: slideDown 3s ease forwards;
}


.Projects-container .project-box-java {
    flex: 1 1 30rem;
    background: rgb(10, 10, 10);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: top 6rem solid azure;
    border-bottom: .6rem solid rgb(106, 105, 107);
    border-top: .6rem solid rgb(106, 105, 107);
    color: azure;
    display: block;
    animation: slideDown 3s ease forwards;
}

.project-box-sql i{
    font-size: 3rem;
    color: azure;
    display: block;
    animation: slideDown 0.5s ease forwards;
}

.project-box-java i{
    font-size: 3rem;
    color: azure;
    animation: slideDown 0.5s ease forwards;
}

/*Table for education webpage*/
.Tables{
    padding: 50px 0;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
}

.Tables table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.Tables th, .Tables td {
    border: 1px solid #e9ecf0;
    padding: 8px;
    text-align: left;
    color: azure;
    animation: slideUp 0.5s ease forwards;
}

.Tables th{
    background-color: transparent;
    color: azure;
    animation: slideDown 0.5s ease forwards;
}  

.education-heading {
    color: azure;
} 

/*design for contacts page*/
.contact-left {
    margin-top: 100px;
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%; 
    animation: fadeIn 4s ease forwards;
} 

.contact-left i{
    color: azure;
    margin-right: 15px;
    font-size: 50px ;
    padding-left: 100px;
}

.social-media-icons {
    margin-top: 30px;
    animation: slideDown 3s ease forwards;
}

.social-media-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: azure;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media-icons :hover {
    color: aqua;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: azure;
}

.contact-right form{
    width: 50%;
    padding-left: 100px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: azure;
    padding: 15px;
    margin: 15px 0;
    color: rgb(5, 5, 5);
    font-size: 18px;    
    border-radius: 6px;
}

form .btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
} 

.image-mail {
    float: right; 
    padding-left: 100px;
    padding-top: 50px;
    animation: slideUp 1s ease forwards;
}


/*subpage animations*/ 
@keyframes levitate {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}



.weight-img,.controller-img {
    animation: levitate 2s ease-in-out infinite;
} 



@keyframes fadeIn  {
    from {
        opacity: 0;
    }
    to {
        opacity: 3;
    }
    
} 


      
      @keyframes slideRight{
        from {
           opacity: 0;
           transform: translateX(100%);
        }
        to {
           opacity: 1;
           transform: translateX(0);
         }
       
       } 
    
       .logo  {
        animation: slideRight 1s ease-out;
       } 
       
       .navbar {
        animation: slideRight 1s ease-out;
       } 

       @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1; 
            transform: translateY(0);
        }
       } 

       @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1; 
            transform: translateY(0);
        }
       }